name: Test CI

on:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Echo test
        run: echo "CI is working!"
